@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --spacefont: "Space Grotesk", sans-serif;
  --blackcolor: #191A23;
  --greencolor: #B9FF66;
  --greycolor: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--spacefont);
}

.navbar {
  margin: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

.logo img {
  width: 210px;
}

.ul {
  gap: 100px;
  display: flex;
}

.ul ul {
  display: flex;
  gap: 50px;
}

.ul ul li {
  margin: auto 1px;
  font-family: var(--spacefont);
  font-weight: 400;
  font-size: 20px;
  list-style-type: none;
}

.req {
  background-color: white;
  font-family: var(--spacefont);
  border-radius: 10px;
  padding: 20px 30px;
  border: 2px solid rgb(66, 64, 64);
}

.mainpage {
  margin: 40px;
  padding: 50px 50px;
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.box1 {
  font-family: var(--spacefont);
}

.box1 h1 {
  font-weight: 800;
  font-size: 60px;
  padding: 20px;
}

.box1 p {
  margin: 10px;
  font-weight: 400;
  font-size: 20px;
  padding: 20px;
}

.box1 button {
  margin: 20px;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: var(--blackcolor);
  padding: 20px;
}

.box2 {
  box-sizing: border-box;
}

.companylogos {
  margin: 30px 100px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 10px 50px;
}

.companylogos img {
  width: 100px;
}

.subheading {
  margin: 100px 100px;
  display: flex;
}

.subheading h1 {
  font-family: var(--spacefont);
  background-color: var(--greencolor);
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 5px 10px;
}

.subheading p {
  font-family: var(--spacefont);
  display: flex;
  align-items: center;
  width: 700px;
  font-size: 18px;
  padding: 10px 40px;
}

.cards {
  box-sizing: border-box;
  margin: 30px 90px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  margin: 10px 10px;
  width: 45%;
  height: 250px;
  background-color: var(--greycolor);
  border: 2px solid black;
  border-bottom: 6px solid black;
  border-radius: 20px;
  display: flex;
}

.green {
  background-color: var(--greencolor);

  .text {
    background-color: var(--greencolor);
  }

  .text h1 {
    background-color: white;
  }

}

.black {
  background-color: var(--blackcolor);

  .text {
    background-color: var(--blackcolor);
  }

  .text h1 {
    background-color: white;
  }

  .text p {
    color: white;
  }
}

.text {
  width: 50%;
  background-color: var(--greycolor);
  margin: 25px;
}

.text h1 {
  background-color: var(--greencolor);
  border-radius: 10px;
  font-family: var(--spacefont);
  width: fit-content;
}

.text p {
  font-weight: 600;
  padding: 60px 30px;
  font-family: var()
}

.cardimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cardimg img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  background-color: var(--greycolor);
  margin: 30px 100px;
  justify-content: space-between;
  border-radius: 40px;
}

.contacttext {
  margin: 60px 60px;
  padding: 0px 10px;
}

.contacttext h1 {
  font-family: var(--spacefont);
  font-weight: 600;
}

.contacttext p {
  box-sizing: border-box;
  font-size: 18px;
  margin: 40px 0px;
  font-family: var(--spacefont);
  font-weight: 400;
  max-width: 450px;
}

.contacttext button {
  padding: 20px 35px;
  border: none;
  color: #FFFFFF;
  background-color: var(--blackcolor);
  border-radius: 14px;
  font-weight: 300;
  font-size: 20px;
  font-family: var(--spacefont);
}

.contactimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactimg img {
  width: 400px;
}

.case {
  margin: 30px 100px;
  background-color: var(--blackcolor);
  border-radius: 45px;
  gap: 64px;
  display: flex;
  justify-content: space-between;
  padding: 70px 60px;
  font-family: var(--spacefont);
}

.caseinfo {
  gap: 20px;
}

.caseinfo h3 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
}

.caseinfo h2 {
  margin-top: 30px;
  color: var(--greencolor);
}

.divider {
  padding-right: 40px;
  border-right: 1px solid white;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 100px;
}

.firstprogress {
  background-color: var(--greencolor);
  padding: 45px 60px;
  border-radius: 45px;
  border: 2px solid var(--blackcolor);
  border-bottom: 6px solid var(--blackcolor);
  font-family: var(--spacefont);
}

.normalprogress {
  background-color: var(--greycolor);
  padding: 45px 60px;
  border-radius: 45px;
  border: 2px solid var(--blackcolor);
  border-bottom: 6px solid var(--blackcolor);
  font-family: var(--spacefont);
  display: flex;
  justify-content: space-between;
}

.firstheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--blackcolor);
}

.headingmain {
  display: flex;
  gap: 20px;
  align-items: center;

  h1 {
    font-size: 60px;
    font-weight: 500;
    color: #000000;
  }

  h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000000;
  }
}

.firstprogress p {
  padding-top: 30px;
  font-size: 20px;
  /* max-width: 70vw; */
  font-weight: 400;
}

.icons {
  color: #191A23;
  background-color: var(--greycolor);
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  border: 2px solid #191A23;
}

.teaminfo {
  margin: 20px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

.teamcard {
  border-radius: 45px;
  border: 1px solid var(--blackcolor);
  border-bottom: 5px solid var(--blackcolor);
  padding: 40px 35px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 2fr 5fr;
  font-family: var(--spacefont);

}

.pfp {
  grid-row: 1/3;
  grid-column: 1/2;
}

.pfp img {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

.name {
  color: #000000;
  grid-row: 2/3;
  grid-column: 2/3;
}

.name h4 {
  font-weight: 500;
  font-size: 20px;
}

.name p {
  font-weight: 400;
  font-size: 18px;
}

.linkedin {
  color: var(--greencolor);
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: end;
  align-items: center;
}

.linkedin h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blackcolor);
  border-radius: 100%;
  width: 40px;
}

.infoaboutteam {
  border-top: 1px solid black;
  margin-top: 20px;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  grid-row: 3/4;
  grid-column: 1/3;
}

.allTeamButton {
  display: flex;
  justify-content: end;
  margin: 30px 100px;
}

.allTeamButton button {
  padding: 20px 65px;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 20px;
  border-radius: 14px;
  font-family: var(--spacefont);
}

.feedback {
  margin: 30px 100px;
  background-color: var(--greycolor);
  border-radius: 45px;
  padding: 60px 0px 60px 100px;
  display: flex;
  justify-content: space-between;
  font-family: var(--spacefont);
}

.form {
  width: 556px;
}

.radio {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}

.radio label {
  font-size: 18px;
  font-weight: 400;
  margin-right: 40px;
  color: black;
}

.radio input {
  height: 28px;
  width: 28px;
  accent-color: Green;
  border: 1px solid black;
}

.sendmsg button {
  background-color: var(--blackcolor);
  padding: 20px 35px;
  border-radius: 14px;
  color: white;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--spacefont);
  margin-top: 40px;
}

.inp label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.inp input {
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
  height: 59px;
  border-radius: 14px;
  padding: 18px 30px;
  font-size: 18px;
}

.inp input::placeholder {
  font-size: 18px;
  color: #898989;
  font-weight: 400;
}

#msgtaker {
  height: 190px;
  width: 556px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 18px 30px;
  font-size: 18px;
  resize: none;
}

#msgtaker::placeholder {
  font-size: 18px;
  color: #898989;
  font-weight: 400;
}

.footer {
  height: 514px;
  margin: 150px 100px 0px 100px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: var(--blackcolor);
  padding: 55px 80px 50px 80px;
  box-sizing: border-box;
}

.footernavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerul {
  gap: 100px;
  display: flex;
}

.footerul ul {
  display: flex;
  gap: 40px;
}

.footerul ul li {
  margin: auto 1px;
  font-family: var(--spacefont);
  font-weight: 400;
  font-size: 20px;
  list-style-type: none;
  color: white;
  text-decoration: underline;
}

.socialmedialogo {
  display: flex;
}

.socialmedialogo div {
  background-color: white;
  padding: 8px;
  border-radius: 100%;
  margin-right: 10px;
}

.contactinfo {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 50px 0px;
  font-family: var(--spacefont);
  border-bottom: 2px solid white;
}

.acutalinfo {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.acutalinfo2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin: 10px 0px; */
  font-weight: 400;
  font-size: 18px;
}

.contactus {
  background-color: var(--greencolor);
  color: black;
  padding: 0px 7px;
  border-radius: 7px;
  width: fit-content;
  font-weight: 500;
  font-size: 20px;

}

.news {
  background-color: #292A32;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 58px 40px;
}

.news input {
  border-radius: 14px;
  padding: 22px 35px;
  background-color: #292A32;
  border: 2px solid white;
  color: white;
  font-size: 18px;
}

.news input::placeholder {
  color: rgb(206, 202, 202);
}

.news button {
  padding: 20px 35px;
  background-color: var(--greencolor);
  border-radius: 14px;
  font-weight: 400;
  font-size: 20px;
  color: black;
}

.copyright {
  display: flex;
  gap: 50px;
  margin: 60px 0px;
  font-family: var(--spacefont);
}

.copyright p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

/*      Testimonialsss     */

.testimonials {
  margin: 30px 100px;
  background-color: var(--blackcolor);
  border-radius: 45px;
  height: 625px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 100px 0px;
  color: var(--greycolor);
  overflow: hidden;
  position: relative;
}

.cardtest {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.cardtest p {
  border: 1px solid var(--greencolor);
  padding: 48px 52px;
  border-radius: 45px;
  font-weight: 400;
  font-size: 18px;
}
.cardtest h4{
  margin-left: 40px;
  color: var(--greencolor);
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
}
.cardtest h6{
  margin-left: 40px;
  font-weight: 400;
  font-size: 18px;
}
.cardl{
  position: absolute;
  left: -250px;
}
.cardr{
  right: -290px;
  position: absolute;
}
.cardm{
  position: relative;
  left: 405px;
  right: 405px;
}
.nexttestimonial{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  position: absolute;
  left: 363.400px; 
  right: 363.400px;
  bottom: 70px;
}
.nexttestimonial img{
  width: 146px;
  height: 14px;
}